body {
  background-image: url("../img/bgpattern.png");
  background-repeat: repeat;
  background-attachment: fixed;
}
@-webkit-keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
sidebar {
  display: inline-block;
  z-index: 100;
  position: fixed;
  right: 1.2%;
}
sidebar .sidebar {
  width: 170px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}
sidebar .sidebar > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
sidebar .sidebar > ul > li {
  background-color: #fbfbfb;
  position: relative;
  margin-bottom: 0px;
}
sidebar .sidebar > ul > li i {
  margin-right: 24px;
}
sidebar .sidebar > ul > li > a {
  display: block;
  outline: 0;
  text-decoration: none;
  color: #717070;
  padding: 0 24px;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid rgba(108, 106, 106, 0.3);
}
sidebar .sidebar > ul > li > a:hover {
  color: rgba(255, 255, 255, 0.7);
}
sidebar .sidebar > ul > li:last-child > a {
  border: none;
}
sidebar .sidebar > ul > li > ul {
  margin: 0;
  padding: 0;
  background-color: #303F9F;
  max-height: 500px;
  overflow: hidden;
  -webkit-transition: max-height, 300ms;
  -moz-transition: max-height, 300ms;
  transition: max-height, 300ms;
}
sidebar .sidebar > ul > li > ul.closed {
  max-height: 0px;
}
sidebar .sidebar > ul > li > ul > li {
  padding: 0 48px;
  display: block;
  color: #3D9970;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
sidebar .sidebar > ul > li > ul > li:hover {
  color: #3C7A5F;
}
/*@media screen and (min-width: 0px) and (max-width: 720px) {

}*/

.menu {
  display: none;
}
.sectitle:not(:last-child) {
  color: #212121;
}
.section:not(.first):not(.fourth) > .container {
  box-shadow: 0px 0.5px 0.5px 0px rgba(129, 127, 127, 0.45), 0px -0.5px 0px rgba(255, 253, 253, 0) inset;
  background-color:rgba(255, 255, 255, 0.8);
}
.section:not(.first) > .container > .row {
  margin: 2% 2% 2% 2%;
  padding-top: 2.5%;
}
.first {
  background-image: url(../img/head.png);
  background-size: cover;
  background-repeat: repeat-x;
  background-color: #8EC1DA;
  -webkit-animation: slide 40s linear infinite;
  animation: slide 40s linear infinite;
  color: white;
  padding-top: 50px;
  padding-bottom: 10%;
  box-shadow: 0px 2px 10px 0px #777, 0px -1px 0px rgba(255, 255, 255, 0.16) inset;
}
.second {
  padding-bottom: 1%;
}
.fourth {
  background-color:rgba(189, 195, 199, 0.6);;
  box-shadow: 0px 0.5px 0.5px 0px #777, 0px -0.5px 0px rgba(255, 255, 255, 0.01) inset;
  /*color: #FFF;*/
  
  padding-bottom: 5%;
  margin-bottom: -1%;
}
a {
  -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  border-bottom: solid 1px rgba(111, 107, 107, 0.3);
  text-decoration: none;
  color: #222;
}
a:hover {
  border-bottom-color: transparent;
  color: #53D7EE !important;
}
.prof {
  height: 150px;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857;
  background-color: #FFF;
  border: 1px solid #DDD;
  border-radius: 4px;
  transition: border 0.2s ease-in-out 0s;
}
hr {
  border: 0;
  height: 1px;
  background: rgba(49, 49, 49, 0.4);
  background-image: -webkit-linear-gradient(left, #ccc, rgba(49, 49, 49, 0.4), #ccc);
  background-image: -moz-linear-gradient(left, #ccc, rgba(49, 49, 49, 0.4), #ccc);
  background-image: -ms-linear-gradient(left, #ccc, rgba(49, 49, 49, 0.4), #ccc);
  background-image: -o-linear-gradient(left, #ccc, rgba(49, 49, 49, 0.4), #ccc);
}
.tags>a {
  border: none;
}
.tag {
  list-style: none;
  padding-right: 10px;
  border: none;
  cursor: default;
}
figure {
  margin: 0;
  position: relative;
}
figure img {
  display: block;
  position: relative;
  z-index: 10;
  max-width: 100%;
  height: auto;
}
figure figcaption {
  display: block;
  position: absolute;
  z-index: 5;
}
figure h3 {
  color: #fff;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 10px;
}
figure span {
  color: #b2cce1;
  display: block;
  line-height: 1.2;
}
figure a.close-caption {
  display: block;
  position: absolute;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  font-size: 24px;
  font-weight: 700;
  color: #315a7d;
}
figure a.close-caption.hidden {
  display: none
}
#effect-2 a.close-caption {
  top: 10px;
  right: 10px;
}
#effect-2 figure figcaption {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: steelblue;
  text-align: center;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
  transition: all 0.5s;
}
#effect-2 figure figcaption h3 {
  margin-top: 25%
}
#effect-2 figure img {
  backface-visibility: hidden;
  transition: all 0.5s;
}
.no-touch #effect-2 figure:hover img, #effect-2 figure.hover img {
  transform: rotateY(180deg);
}
.no-touch #effect-2 figure:hover figcaption, #effect-2 figure.hover figcaption {
  transform: rotateY(0);
}
sup {
  font-size: 70%;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.projects-title {
  color: #518bbe;
  vertical-align: .35em;
  display: inline-block;
  font-size: 2em;
  font-weight: 400;
}

.projects-ul {
  margin: 0;
  padding: 0;
}

.projects-li {
  box-sizing: border-box;
  width: 32%;
  height: 11em;
  vertical-align: top;
  display: inline-block;
  list-style: none;
  margin: 1em 0 0 1em;
  padding: .5em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.projects-li:nth-child(3n-2) {
  margin: 1em 0 0 0;
}

.projects-a {
	border-top: .5em solid #efefef;
	display: block;
  color: #8EC1DA;
  text-decoration: none;
  padding: 0 .5em 0 0;
  margin: 0;
  font-size: 1.1em;
}

.projects-li  a {
	border-bottom:0em;
}

.projects-a:hover {
  border-top: .5em solid steelblue;
}

.projects-a:hover {
  color: steelblue;
}

.projects-lang {
  color: #999;
  font-size: .8em;
  margin: .2em 0 0 0;
}

.projects-desc {
  color: #171717;
  text-overflow: inherit;
}

.projects-hide {
  display:none;
}

#typed {
  font-size: 1.5em;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    font-size: 1.5em;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.ribbon {
  background-color: #7f8c8d;
  overflow: hidden;
  white-space: nowrap;
  /* top left corner */
  position: absolute;
  left: -50px;
  top: 40px;
  /* 45 deg ccw rotation */
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  /* shadow */
  -webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
}
.ribbon a {
  border: 1px solid ff;
  color: #fff;
  display: block;
  font:  81.25%  "Lato", Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 5px #444;
}

#pi {
  text-align: right;
  color: #808080;
  font-size: smaller;
  font: arial;
}