<h2>About Me</h2>
<p class="about-text">Currently working as researcher. Graduated from the Integrated Masters in Informatics and Computing Engineering by 
  Faculty of Engineering of the University of Porto.
  Passionated about technology in general, with a special focus on security and privacy, web development, data mining & Internet of Things.
   Futhermore, an amateur photographer, football player, book lover and science addict.</p>
<div class="buttons-div">
<span class="fa fa-envelope main-list-item-icon"></span><a href="mailto:jpdias@outlook.com" target="_blank">jpdias[at]outlook.com</a>
&nbsp;| <span class="fa fa-file main-list-item-icon"></span><a href="assets/jpdias.pdf" target="_blank">Curriculum Vitae (.pdf)</a>
</div>
<hr />
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="http://linkedin.com/in/joaopdias" target="_blank">linkedin.com/in/joaopdias</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-id-badge fa-lg main-list-item-icon"></span>
    <a href="http://orcid.org/0000-0001-9066-6436" target="_blank">orcid.org/0000-0001-9066-6436</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/jpdias" target="_blank">github.com/jpdias</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/jpd1as" target="_blank">twitter.com/jpd1as</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-500px fa-lg main-list-item-icon"></span>
    <a href="https://500px.com/jpdias" target="_blank">500px.com/jpdias</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-instagram fa-lg main-list-item-icon"></span>
    <a href="https://instagram.com/jpdias.insta" target="_blank">instagram.com/jpdias.insta</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-bullhorn fa-lg main-list-item-icon"></span>
    <a href="http://speakerdeck.com/jpdias" target="_blank">speakerdeck.com/jpdias</a>
  </li>

   
</ul>
