<sidebar class="one">
        <div class="sidebar">
            <ul>
                <li class="menu">
                    <a href="/#home"><i class="fa fa-home"></i>Home</a>
                </li>
                <li class="menu">
                    <a href="/#about"><i class="fa fa-user"></i>Profile</a>
                </li>
                <li class="menu">
                    <a href="/#experiences"><i class="fa fa-flask"></i>Experience</a>
                </li>
                <li class="menu">
                    <a href="/#skills"><i class="fa fa-cog"></i>Skills</a>
                </li>
                <li class="menu">
                    <a href="/#proj"><i class="fa fa-folder-open"></i>Projects</a>
                </li>
                <li class="menu">
                    <a href="/#contact"><i class="fa fa-paper-plane"></i>Contact</a>
                </li>
                <li class="menu">
                    <a href="/blog"><i class="fa fa-pencil-square-o"></i>Blog</a>
                </li>
                <li>
                    <a id="show"><i class="fa fa-bars"></i> Menu</a>
                </li>
            </ul>
        </div>
    </sidebar>
    <!-- Primary Page Layout –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="section first" id="home">
        <div class="container">
            <div class="row">
                <div class="four column">
                    <h3>João Pedro Dias</h3>
                    <div>
                        <span id="typed" style="white-space:pre;"></span>
                    </div>
                    <div>
                        <em>Master in Informatics and Computing Engineering</em>
                    </div>
                </div>
                <div class="one-half column"></div>
            </div>
        </div>
    </div>