table {
    margin: 15px 0;
    border-collapse: collapse;
    width: 100%;
    padding: 0;
}
table tr {
    border-top: 1px solid #cccccc;
    margin: 0;
    padding: 0;
}
table tr:nth-child(2n) {
    background-color: #f8f8f834;
}
table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    color: white;
    background-color: #f8f8f834;
    text-align: left;
    margin: 0;
    padding: 3px 7px;
}
table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 3px 7px;
}
table tr th :first-child, table tr td :first-child {
    margin: 0;
}
table tr th :last-child, table tr td :last-child {
    margin: 0;
}

/*.rouge-table {
    word-wrap: break-word;       
    overflow-wrap: break-word;    
    width: 100%;
    white-space: pre-wrap
}
*/
.rouge-table {
    margin-bottom: 0px;
}

.rouge-table td {
    border-top: none;
}

.rouge-table td:nth-child(1) {  
    width: 5px;    
}

.highlight {
    margin:0px;
}

pre {
    counter-reset: line-numbering;
    border-radius: 0;
    padding: 0;
    line-height: 23px;
    margin-bottom: 30px;
    white-space: pre;
    overflow-x: auto;
    word-break: inherit;
    word-wrap: inherit;
}

pre a::before {
  content: counter(line-numbering);
  counter-increment: line-numbering;
  padding-right: 1em; /* space after numbers */
  width: 25px;
  text-align: right;
  opacity: 0.7;
  display: inline-block;
  margin-right: 16px;
  padding: 2px 10px;
  font-size: 13px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

pre a:first-of-type::before {
  padding-top: 10px;
}

pre a:last-of-type::before {
  padding-bottom: 10px;
}

pre a:only-of-type::before {
  padding: 10px;
}