table {
    margin: 15px 0;
    border-collapse: collapse;
    width: 100%;
    padding: 0;
}
table tr {
    border-top: 1px solid #cccccc;
    margin: 0;
    padding: 0;
}
table tr:nth-child(2n) {
    background-color: #f8f8f834;
}
table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    color: white;
    background-color: #f8f8f834;
    text-align: left;
    margin: 0;
    padding: 3px 7px;
}
table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 3px 7px;
}
table tr th :first-child, table tr td :first-child {
    margin: 0;
}
table tr th :last-child, table tr td :last-child {
    margin: 0;
}

.rouge-table {
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
    width: 100%;
    white-space: pre-wrap
}

.rouge-table td {
    border-top: none;
    border-bottom: none;
    white-space: pre-wrap
}

.rouge-table td:nth-child(1) {  
    border-left: none;
    width: 5px;    
}

.rouge-table td:nth-child(2) {  
    border-right: none;
}

.rouge-table td:nth-child(2) pre {  
    white-space: pre-wrap;
    
}

.rouge-table tr {
    border-top: none;
}