@import "vars";

.content {
    a:hover {
        text-decoration: underline;
    }
    ol {
        counter-reset: list;
    }
    ol > li {
        list-style-position: none;
        position: relative;
        list-style: none;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    ul > li {
        margin: 5px 0 5px 0;
    }
    ol {
        padding: 0 30px 0 30px;
        @media (max-width: $small-width) {
            img {
                padding: 0 0 0 30px;
            }
        }
    }
    ol > li:before {
        content: "[" counter(list, decimal) "] ";
        counter-increment: list;
        position: absolute;
        left: -30px;
    }
    ol > li > ul {
        padding-left: 0px;
        display: flow-root;
    }
    ol > li > ul > li {
        list-style: none;
    }
    blockquote {
        //border: 1px solid black;
        border-left: 5px solid #333333;
        margin: 20px 0 20px 0;
        padding: 2px 8px 2px 8px;
        font-style: italic;
    }
    .profile-picture {
        width: 100px;
        position: relative;
        margin: -60px 0 0 15px;
        float: right;
        border: solid #96969d 2px;
        margin-bottom: 10px;
        @media (max-width: $small-width) {
            img {
                display: none;
            }
        }
    }
    img {
        text-align: center;
        width: 100%;
    }
}
