#w > div, #w >span, #w >applet, #w >object, #w >iframe, #w >blockquote, #w >pre, #w >a, #w >abbr, #w >acronym, #w >address, #w >big, #w >cite,
#w > code, #w > del,#w > dfn, #w >em, #w >img, #w >ins, #w >kbd, #w >q, #w >s, #w >samp, #w >small, #w >strike, #w >strong, #w >sub, #w >sup,
 #w >tt, #w >var, #w >b, #w >u, #w >i, #w >center, #w >dl, #w >dt, #w >dd, #w >ol,#w > ul,#w > li,#w > fieldset, #w >form, #w >label, #w >legend, #w >table, 
 #w >caption, #w >tbody, #w >tfoot, #w >thead,#w > tr,#w > th, #w >td, #w >article, #w >aside, #w >canvas, #w >details, #w >embed, #w >figure, #w >figcaption, #w >footer,
#w > header,#w > hgroup, #w >menu,#w > nav, #w >output, #w >ruby, #w >section, #w >summary, #w >time, #w >mark, #w >audio, #w >video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}


#w > article,#w > aside, #w >details,#w > figcaption,#w > figure, #w >footer, #w >header, #w >hgroup, #w >menu, #w >nav, #w >section { display: block; }
#w > ol,#w > ul { list-style: none; }

#w >blockquote, #w >q { quotes: none; }
#w >blockquote:before, #w >blockquote:after, #w >q:before, #w >q:after { content: ''; content: none; }


#w >table { border-collapse: collapse; border-spacing: 0; }
#w >img { border: 0; max-width: 100%; margin:0;}





/* main page layout */
#w { display: block; min-width: 850px; max-width: 1150px; margin: 0 auto; padding: 0 15px; padding-top: 45px; }


/* sorting and filtering */
.sort { display: block; font-family: 'Kite One', Arial, sans-serif; font-size: 1.4em; line-height: 0.9em; color: #444; }

.sort .label { margin-right: 11px; }

.sort a { margin-right: 4px; padding: 0px 3px; }
.sort a:hover { color: #989caa; text-decoration: none; border-bottom: 1px dotted #989caa; }

.sort a.selected { color: #85878f; border-bottom: 1px solid #85878f; }


/* portfolio items */
.portfolio { display: block; margin-bottom: 10px; padding-top: 20px; width: 100%; }

.portfolio li { 
  float: left; 
  margin-right: 18px; 
  margin-bottom: 1.55em;
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,0.45);
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,0.45);
  box-shadow: 1px 2px 3px rgba(0,0,0,0.45);
}
.portfolio li a { 
  display: block; 
  padding: 4px; 
  background: #fff; 
  border: 1px solid #ccc; 
  -webkit-transition: all 0.35s linear; 
  -moz-transition: all 0.35s linear; 
  -o-transition: all 0.35s linear;
  transition: all 0.35s linear;
}
.portfolio li a:hover { opacity: 0.65; }

/* clearfix */
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }