<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  <head>
  
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <link href="http://gmpg.org/xfn/11" rel="profile">

  <title>
   JP Dias
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="/public/css/hyde.css">
  <link rel="stylesheet" href="/public/css/syntax.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,700|Abril+Fatface">
  <link rel="stylesheet" type="text/css" href="/public/css/css/font-awesome.css">
  <!-- Icons -->
  <link rel="shortcut icon" href="/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
  
	
</head>


  <body>

    <header class="masthead">
      <div class="masthead-inner">
        
        <a href="/">
        <p class="lead"><i class="fa fa-home"></i> JP Dias</p>
        <p class="title">Engineeer. Developer. Designer. Photographer.</p></a>
        <ul class="colophon-links">
            <li><a href="/projects"><i class="fa fa-code"></i> Projects</a><li>
            <li><a href="/about"><i class="fa fa-info-circle"></i> About me</a><li>
			<li><a href="/contact"><i class="fa fa-user"></i> Contact</a><li>
			<br>
        </ul>
        <div class="colophon">
          <ul class="colophon-links">
            <li>
              <a href="http://twitter.com/jpd1as"> <i class="fa fa-twitter"></i> Twitter</a>
            </li>
             <li>
              <a href="http://instagram.com/jpd1as"> <i class="fa fa-instagram"></i> Instagram</a>
            </li>
             <li>
              <a href="http://linkedin.com/in/joaopdias"> <i class="fa fa-linkedin"></i> LinkedIn</a>
            </li>
             <li>
              <a href="http://plus.google.com/+joaopedrodias"> <i class="fa fa-google-plus"></i> Google Plus</a>
            </li>
             <li>
              <a href="http://github.com/jpdias"> <i class="fa fa-github"></i> GitHub</a>
            </li>
             <li>
              <a href="http://flickr.com/joaopedrodias"> <i class="fa fa-flickr"></i> Flickr</a>
            </li>
            <li>
              <a href="/atom.xml"> <i class="fa fa-rss"></i> RSS Feed</a>
            </li>

            <li></li>
          </ul>
          <p>&copy; 2014.  All rights reserved.</p>
        </div>
      </div>
    </header>

    <div class="content container">
      {{ content }}
    </div>


  </body>
</html>
